_ReSharper.Papercut
_ReSharper.Papercut
[Bb]in
[Oo]bj
*.TeamCity.user
Papercut.suo
Papercut.sln.docstates.suo
*.DotSettings.user
BuildOutput
Artefacts
*.suo
src/Papercut.WebHost/Content/*.min.css
src/Papercut.WebHost/Content/app.css
src/Papercut.WebHost/Scripts/BindingHandlers/DateBindingHandler.min.js
src/Papercut.WebHost/Scripts/bootstrap.min.js
src/Papercut.WebHost/Scripts/jquery-1.9.1.min.js
src/Papercut.WebHost/Scripts/knockout-2.2.1.min.js
src/Papercut.WebHost/Scripts/moment-2.0.0.min.js
src/Papercut.WebHost/Scripts/vendor.min.js
src/Papercut.WebHost/build/
src/Papercut.WebHost/App/main-built.js

