<div class="messageBox autoclose">
    <div class="modal-header">
        <h3 data-bind="text: Subject"></h3>
    </div>
    <div>
        <dl>
                <dt>Id</dt>
                <dd>
                    <pre data-bind="text: Id" />
                </dd>
                <dt>To</dt>
                <dd>
                    <pre data-bind="text: To" />
                </dd>
                <dt>From</dt>
                <dd>
                    <pre data-bind="text: From" />
                </dd>
                <dt>Subject</dt>
                <dd>
                    <pre data-bind="text: Subject" />
                </dd>
                <dt>Body</dt>
                <dd>
                    <pre data-bind="html: Body" />
                </dd>
                <dt>Date</dt>
                <dd>
                    <pre data-bind="text: Date" />
                </dd>
        </dl>
    </div>
</div>
