<div class="messageBox autoclose">
    <div class="modal-header">
        <h4 data-bind="text: Subject"></h4>
    </div>
    <div class="email">
        <dl>
            <dt>Id</dt>
            <dd>
                <pre data-bind="text: Id" />
            </dd>
            <dt>To</dt>
            <dd>
                <pre data-bind="text: To" />
            </dd>
            <dt>From</dt>
            <dd>
                <pre data-bind="text: From" />
            </dd>
            <dt>Subject</dt>
            <dd>
                <pre data-bind="text: Subject" />
            </dd>
            <dt>Body</dt>
            <dd>
                <pre data-bind="html: Body" />
            </dd>
            <dt>Date</dt>
            <dd>
                <pre data-bind="date: Date" />
            </dd>
        </dl>
    </div>
</div>
