<div data-bind="">
    <dl>
        <dt class="ib"> Id</dt>
        <dd data-bind="text: Id" />
        
        <dt class="ib"> To</dt>
        <dd data-bind="text: To">
        
        <dt class="ib"> From</dt>
        <dd data-bind="text: From" />
        
        <dt class="ib"> Subject</dt>
        <dd data-bind="text: Subject" />
        
        <dt class="ib"> Body</dt>
        <dd data-bind="html: Body" />
        
        <dt class="ib"> Date</dt>
        <dd data-bind="text: Date"/>
        
        <dt class="ib"> Links</dt>
        <dd>
            <!--<table id="tbl-0">
                <caption></caption>
                <thead>
                    <tr>
                        <th id="h-0-0"><b></b> Rel</th>
                        <th id="h-0-1"><b></b> Href</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>self</td>
                        <td>mailboxes/default/2012111616245374.eml</td>
                    </tr>
                </tbody>
            </table>-->
        </dd>
    </dl>
</div>