<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="MailFolder" value="c:\\maildrop\\"/>
    <add key="Port" value="52080"/>
    <add key="Host" value="localhost"/>
    <add key="EmailsPerPage" value="10" />
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
