<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Durandal" version="1.2.0" targetFramework="net40" />
  <package id="Durandal.Router" version="1.2.0" targetFramework="net40" />
  <package id="Durandal.StarterKit" version="1.2.0" targetFramework="net40" />
  <package id="Durandal.Transitions" version="1.2.0" targetFramework="net40" />
  <package id="FontAwesome" version="3.0.2.3" targetFramework="net40" />
  <package id="jQuery" version="1.9.1" targetFramework="net40" />
  <package id="knockoutjs" version="2.2.1" targetFramework="net40" />
  <package id="log4net" version="2.0.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.0.0" targetFramework="net40" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net40" />
  <package id="Sammy.js" version="0.7.4" targetFramework="net40" />
  <package id="ServiceStack" version="3.9.28" targetFramework="net40-Client" />
  <package id="ServiceStack.Common" version="3.9.28" targetFramework="net40-Client" />
  <package id="ServiceStack.OrmLite.SqlServer" version="3.9.28" targetFramework="net40-Client" />
  <package id="ServiceStack.Redis" version="3.9.29" targetFramework="net40-Client" />
  <package id="ServiceStack.Text" version="3.9.28" targetFramework="net40-Client" />
  <package id="Topshelf" version="3.1.0" targetFramework="net40-Client" />
  <package id="Topshelf.Log4Net" version="3.1.0" targetFramework="net40" />
  <package id="Twitter.Bootstrap" version="2.3.1" targetFramework="net40" />
  <package id="WebActivator" version="1.5.3" targetFramework="net40" />
  <package id="WebGrease" version="1.1.0" targetFramework="net40" />
</packages>